.pic-position {
    width: 100%;
    height: 20rem;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Navbar Section */

.nav-logo {
    background-image: url(./images/logo.png);
}

/* Top Article Section  */

.container .img-container {
    /* background-image: url('https://d.newsweek.com/en/full/1566054/pete-buttigieg-bernie-sanders-new-hampshire-primary.webp?w=591&h=364&f=dc2634ba4deda3dd7d8314ee33705dac'); */
    background-color: aqua;
}

/* More Stories Section */

.more-stories .img-article{
    background-image: url('https://www.newsweek.com/us-military-identifies-two-special-operation-soldiers-killed-afghanistan-combat-1486457');
}

.more-stories .img2-article {
    background-image: url('https://d.newsweek.com/en/full/1566046/afghanistan.webp?w=300&h=200&f=4a60e7109569ede140880d3baa664438');
}
.more-stories .img3-article {
    background-image: url('https://d.newsweek.com/en/full/1566000/gregory-timm.webp?w=300&h=200&f=fe3aeee4f343147f5d009c7e4073e502');
}
.more-stories .img4-article {
    background-image: url('https://d.newsweek.com/en/full/1566029/nypd-car.webp?w=300&h=200&f=5beb3ad2d6b577842b69749e0a069ca8');
}
.more-stories .img5-article {
    background-image: url('https://d.newsweek.com/en/full/1566044/bernie-sanders.webp?w=300&h=200&f=031f296bb6bb196f07bd621e1274ac76');
}
.more-stories .img6-article {
    background-image: url('https://d.newsweek.com/en/full/1566057/janelle-monae-oscars.webp?w=300&h=200&f=6606ecc8992b2063d09895bf6e274131');
}
.more-stories .img7-article {
    background-image: url('https://d.newsweek.com/en/full/1565997/korat-shooting.webp?w=300&h=200&f=41aa6d847d9a91122c2db743e74ef3e3');
}
.more-stories .img8-article {
    background-image: url('https://d.newsweek.com/en/full/1566016/pete-buttigieg.webp?w=300&h=200&f=013fc0573eb3589dbba26c3b48392b9a');
}
.more-stories .img9-article {
    background-image: url('https://d.newsweek.com/en/full/1566026/dnc-chair-tom-perez-iowa.webp?w=300&h=200&f=e68fcecdcc73dd4239c976d62e96b7f6');
}
.more-stories .img10-article {
    background-image: url('https://d.newsweek.com/en/full/1566035/women-worth-awards.webp?w=300&h=200&f=2987cdbaabf27050a36f19350d931a67');
}
.more-stories .img11-article {
    background-image: url('https://d.newsweek.com/en/full/1566022/gay-pride-lausanne-2006.webp?w=300&h=200&f=9d7d89d3e40212f1d1141ed14bbae048');
}


/* Culture & Travel Section */

.travel .img-travel {
    background-image: url('https://d.newsweek.com/en/full/1565365/superman-oscar.webp?w=397&h=265&f=8f7f0442997e9bfd5ff72d199ac16d2c');
}
.travel .img2-travel {
    background-image: url('https://d.newsweek.com/en/full/1564962/cul-map-undergroundsubways-09-91029419.webp?w=397&h=265&f=c75ea7fe40bca26ffbb19f21fccf1054');
}
.travel .img3-travel {
    background-image: url('https://d.newsweek.com/en/full/1565011/koffee-reggae-singer.webp?w=397&h=265&f=84976fc68c362f53a02453d07063e9d0');
}
.travel .img4-travel {
    background-image: url('https://d.newsweek.com/en/full/1563246/cul-extremevacations-banner.webp?w=397&h=265&l=53&t=46&f=425beec66e56d27490eaf4fb8b62313d');
}

/* Featured Stories Section */

.featured-stories .img-featured {
    background-image: url('https://d.newsweek.com/en/full/1565817/nato-summit-us-survey-approval-article-5.webp?w=767&h=512&q=90&f=9c1c1de85dfb76efbdfa8faa99c0d5f4');
}
.featured-stories .img2-featured {
    background-image: url('https://d.newsweek.com/en/full/1566003/volunteers-transport-medical-supplies-wuhan.webp?w=767&h=512&q=90&f=de404830bff6d9775b17f6e878575d37');
}
.featured-stories .img3-featured {
    background-image: url('https://d.newsweek.com/en/full/1566004/mitt-romney.webp?w=767&h=512&q=90&f=8f4260392d2df99bfa918884f9848fa3');
}
.featured-stories .img4-featured {
    background-image: url('https://d.newsweek.com/en/full/1565994/cannabis-planet.webp?w=767&h=512&q=90&f=4bf516ea8482c0af696a045a118f8abd');
}

/* Opinion Section */

.opinion .img-opinion {
    background-image: url('https://d.newsweek.com/en/full/1566038/benny-johnson.webp?w=63&h=63&f=0ddbb947c290dd32e615e08bfbea62a0');
}
.opinion .img2-opinion {
    background-image: url('https://d.newsweek.com/en/full/1565843/jennifer-n-victor.webp?w=63&h=63&f=1470faae30a4533bfdac3f32c8aa9f4d');
}
.opinion .img3-opinion {
    background-image: url('https://d.newsweek.com/en/full/1565695/seth-maskett.webp?w=63&h=63&f=a42402a05f14afe42628bff8d529746f');
}
.opinion .img4-opinion {
    background-image: url('https://d.newsweek.com/en/full/1508047/heather-thompson-day.webp?w=63&h=63&f=e6cf73755fc913072f258274fe9ee2d4');
}
.opinion .img5-opinion {
    background-image: url('https://d.newsweek.com/en/full/1538932/tom-rogers.webp?w=63&h=63&f=0b40bd95cb8f95020c438d20ee6188b9');
}
.opinion .img6-opinion {
    background-image: url('https://d.newsweek.com/en/full/1565815/sophie-richardson.webp?w=63&h=63&f=e74a0e19c6ad849ab0c53dbc2d7be8da');
}

/* Latest News Section */

.latest-news .img-latest {
    background-image: url('https://d.newsweek.com/en/full/1566053/bong-joon-ho.webp?w=767&h=512&f=f7d671df9f770cdfc4be9e3fea521cc9');
}
.latest-news .img2-latest {
    background-image: url('https://d.newsweek.com/en/full/1562296/power-season-6-tasha.webp?w=767&h=512&f=38ceacf3e5fafe70f2d2e75c866467a6');
}
.latest-news .img3-latest {
    background-image: url('https://d.newsweek.com/en/full/1563452/power-prequel-ghost-tommy-angela.webp?w=767&h=512&f=a58d22cce3604cadc8f0649f1814107d');
}
.latest-news .img4-latest {
    background-image: url('https://d.newsweek.com/en/full/1566050/xfl-st-louis-battlehawks.webp?w=767&h=512&f=6a0bdc8ddef8b31a9b403e12f160bf4a');
}
.latest-news .img5-latest {
    background-image: url('https://d.newsweek.com/en/full/1565692/cast-lily-dare.webp?w=767&h=512&f=2ad14b4add1f254a7ed21e214bfadd15');
}
.latest-news .img6-latest {
    background-image: url('https://d.newsweek.com/en/full/1566042/rupauls-dragcon-uk.webp?w=767&h=512&f=f51a97135f872af3313a656f3abdd2a8');
}
.latest-news .img7-latest {
    background-image: url('https://d.newsweek.com/en/full/1566036/brian-stelter-rush-limbaugh-cancer.webp?w=767&h=512&f=82836f4dc5ae9a4afa8a63b8a5fc5205');
}

/* See all Features Section */

.all-features .img-all-features {
    background-image: url('https://d.newsweek.com/en/full/1564924/february-14-2020-cover.webp?w=726&h=969&q=90&f=13509e0d0d308974f203fb9e68b96335');
}

/* In The Magazine Section */

.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1564635/fe-coronavirus-01-1197308539.webp?w=767&h=512&l=46&t=49&q=90&f=af8e42fab7d4e164a79d44ade7fe88f9');
}
.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1564166/fea-wargames-01.webp?w=767&h=512&l=48&t=56&q=90&f=7f26e4606b75d1d2a1b2046aa5c9298e');
}
.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1564921/per-kobe-banner.webp?w=767&h=512&l=50&t=45&q=90&f=e9be0a78cd1efe6a04f42c9370736aee');
}
.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1563948/united.webp?w=767&h=512&q=90&f=2b98112c96caa917f6f1026b11fd6a44');
}
.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1564968/cul-map-undergroundsubways-06-157155767.webp?w=767&h=512&q=90&f=00d097b9f91c07a5b6350b546183666f');
}
.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1564972/cul-ps-stephaniebeatriz-banner.webp?w=767&h=512&q=90&f=23c2390415acdd886843352e067a3453');
}
.magazine .img-magazine {
    background-image: url('https://d.newsweek.com/en/full/1564983/first-timer.jpg?w=480&h=320&q=90&f=a5962a1913afe8d66ac713777e30d2dd');
}

/* Editor's Pick */

.editors .img-editors {
    background-image: url('https://d.newsweek.com/en/full/1566032/buttigieg-sanders.webp?w=767&h=512&f=ff6c5b06e03ec5f44ae53298ed924035');
}
.editors .img2-editors {
    background-image: url('https://d.newsweek.com/en/full/1566006/oscar-statuette.webp?w=767&h=512&f=6fc88c4b814ea4ffc969035e736cf4c9');
}
.editors .img3-editors {
    background-image: url('https://d.newsweek.com/en/full/1566011/tawny-nurse-shark-grazes-surface-talbot-bay.webp?w=767&h=512&f=c19a56ca04e14cbef9be874c37215abf');
}
.editors .img4-editors {
    background-image: url('https://d.newsweek.com/en/full/1566052/brad-pitt.webp?w=767&h=512&f=90e2af11a40d29122bb215d2ac5fc6a1');
}
.editors .img5-editors {
    background-image: url('https://d.newsweek.com/en/full/1565967/donald-trump.webp?w=767&h=512&f=aab6a25b3d61adfdefc23d4131b208e1');
}
.editors .img6-editors {
    background-image: url('https://d.newsweek.com/en/full/1565980/us-troops-nangarhar-afghanistan-war.webp?w=767&h=512&f=eaa8234a3f21c2bce868c8a9f0f8c8a3');
}
.editors .img7-editors{
    background-image: url('https://d.newsweek.com/en/full/1565975/alexander-vindman.webp?w=767&h=512&f=1b487647ef067bbd79a92a9304b0c836');
}
.editors .img8-editors{
    background-image: url('https://d.newsweek.com/en/full/1566028/birds-prey-box-office.webp?w=767&h=512&f=7323caa91338e168e4c4777a343979d5');
}

/* Featured Slideshows Section */

.featured-slideshows .img-slideshows {
    background-image: url('https://d.newsweek.com/en/full/1560097/tozeur-tunisia.webp?w=767&h=512&f=f2cb442746639405b46ec8c1ac9cfbdd');
}

.featured-slideshows .img2-slideshows {
    background-image: url('https://d.newsweek.com/en/full/1552749/eyjafjallajokull-iceland.webp?w=767&h=512&f=0583793c7306110b86c1bcc29a03e017');
}

.featured-slideshows .img3-slideshows {
    background-image: url('https://d.newsweek.com/en/full/1547486/lipschutz-living-room-hotel-chelsea.webp?w=767&h=512&f=3725de5b65e2815136e61caee0bcd0ef');
}

.featured-slideshows .img4-slideshows {
    background-image: url('https://d.newsweek.com/en/full/1543106/2018-cup-collection.webp?w=767&h=512&f=a462a39e6f9d10e8dbb19e729f398f81');
}

.featured-slideshows .img5-slideshows {
    background-image: url('https://d.newsweek.com/en/full/1542741/holiday-cups-starbucks.webp?w=767&h=512&f=2283967ee8c1b035fbd59db466e0ba11');
}

.featured-slideshows .img6-slideshows {
    background-image: url('https://d.newsweek.com/en/full/1539646/first-wives-club-pumpkin.webp?w=767&h=512&f=52bdd55e4a8dee0cd5cc21e78f540b4b');
}


/* U.S. Section */

.us .img-us {
    background-image: url('https://d.newsweek.com/en/full/1565993/powerball.webp?w=767&h=512&f=11b0f17fa32a91b40cc41ed8265cc735');
}

.us .img2-us {
    background-image: url('https://d.newsweek.com/en/full/1565982/bernie-sanders.webp?w=767&h=512&f=13e16f047c74c3c5973bf11fea1c58ac');
}

.us .img3-us {
    background-image: url('https://d.newsweek.com/en/full/1565977/alexandria-ocasio-cortez-riley-roberts.webp?w=300&h=200&f=145a82778ae3a92e5535554cb6f8b5c9');
}

.us .img4-us {
    background-image: url('https://d.newsweek.com/en/full/1565972/emerald-princess.webp?w=300&h=200&f=3f6a1f689545aa4dc97fb676e4555e5c');
}

.us .img5-us {
    background-image: url('https://d.newsweek.com/en/full/1565969/donald-trump-extinction-meteor-poll.webp?w=300&h=200&f=4a4e28272af0651d9c90b7746184b821');
}


/* World Section */

.world .img-world{
    background-image: url('https://d.newsweek.com/en/full/1565945/putin.webp?w=767&h=512&f=8e26179b97e6e49f78695766aff4a248');
}

.world .img2-world{
    background-image: url('https://d.newsweek.com/en/full/1565799/wombat.webp?w=767&h=512&f=00eb5b50d2cb8adc4b04f4973bfe3e32');
}

.world .img3-world{
    background-image: url('https://d.newsweek.com/en/full/1565800/stray-kids-nyc-people-now-2020.webp?w=300&h=200&f=d7f0dff0ada99b7b2ea06b321283398e');
}

.world .img4-world{
    background-image: url('https://d.newsweek.com/en/full/1565719/britains-prince-andrew.webp?w=300&h=200&f=187b52f4941b714ca101cf6b619d4861');
}

.world .img5-world{
    background-image: url('https://d.newsweek.com/en/full/1565664/merkel-macron-trump.webp?w=300&h=200&f=f03f16d60e4b9a240bd7b22bc6eb15e7');
}


/* Business Section */

.business .img-business {
    background-image: url('https://d.newsweek.com/en/full/1565860/per-passwords-02.webp?w=767&h=512&f=69fcbed14e503c2124c162e63185930e');
}

.business .img2-business {
    background-image: url('https://d.newsweek.com/en/full/1565399/hbo-max.webp?w=767&h=512&l=19&t=50&f=0f7fdecbde3712092413e62cd0010420');
}

.business .img3-business {
    background-image: url('https://d.newsweek.com/en/full/1555439/receiver.webp?w=300&h=200&f=57a2d12bf4253166a208143aaa55b234');
}

.business .img4-business {
    background-image: url('https://d.newsweek.com/en/full/1559216/tokyo-my-city-chizu-nakamoto.webp?w=300&h=200&f=301cd69d1f6eba65e755c7576fa47b2b');
}

.business .img5-business {
    background-image: url('https://d.newsweek.com/en/full/1563039/nike-kobe-bryant.webp?w=300&h=200&f=f10d2b3349a44d0a338b02b4199fd6d7');
}


/* Tech & Science Section */

.tech .img-tech {
    background-image: url('https://d.newsweek.com/en/full/1565934/trees-damaged-storm.webp?w=767&h=512&l=0&t=0&f=5b90561bf51ba0b08710f42163f529d4');
}

.tech .img2-tech {
    background-image: url('https://d.newsweek.com/en/full/1565777/gwion-art.webp?w=767&h=512&f=7d6f6739cd628de7fdeee5f9492de72c');
}

.tech .img3-tech {
    background-image: url('https://d.newsweek.com/en/full/1565755/base-esperanza.webp?w=300&h=200&f=18907224ef2250a7c42b59e14bc5b5e2');
}

.tech .img4-tech {
    background-image: url('https://d.newsweek.com/en/full/1565717/smartphone-stock-photo.webp?w=300&h=200&f=717c6a844cc13b7a677bf34033c82e12');
}

.tech .img5-tech {
    background-image: url('https://d.newsweek.com/en/full/1565570/first-mariners-boat.webp?w=300&h=200&f=5294171af0840953d1c9c46544dafdf2');
}

/* Culture Section */

.culture .img-culture {
    background-image: url('https://d.newsweek.com/en/full/1565386/how-watch-2020-oscars-ceremony-red-carpet-live-stream.webp?w=767&h=512&f=e397d7d55f2942bdd213b1dd680bc11a');
}

.culture .img2-culture {
    background-image: url('https://d.newsweek.com/en/full/1565573/power-book-ii-ghost.webp?w=767&h=512&f=76ebd0035df7f838ceadd07c70fc96b5');
}

.culture .img3-culture {
    background-image: url('https://d.newsweek.com/en/full/1565602/oscars.webp?w=300&h=200&f=8e42e074f91687f23ada85f6ecacf89b');
}

.culture .img4-culture {
    background-image: url('https://d.newsweek.com/en/full/1565669/hor-btn-oscars-01.webp?w=300&h=200&f=4e7bd5cabeca3edfcd6e150f6ba4a52e');
}

.culture .img5-culture {
    background-image: url('https://d.newsweek.com/en/full/1565595/oscar-award.webp?w=300&h=200&f=ef373016246c0a7fc0d7124d0d258f4d');
}

/* Sports Section */

.sports .img-sports {
    background-image: url('https://d.newsweek.com/en/full/1565991/tom-brady-dak-prescott.webp?w=767&h=512&f=c9cc11d25114c6a6ce348e17292f3a80');
}

.sports .img2-sports {
    background-image: url('https://d.newsweek.com/en/full/1565990/duke-north-carolina.webp?w=767&h=512&f=7691598c62b74e4102cd4692a752e729');
}

.sports .img3-sports {
    background-image: url('https://d.newsweek.com/en/full/1565988/xfl-dc-defenders.webp?w=300&h=200&f=54bc4ac49215049962823710ff4c1bd5');
}

.sports .img4-sports {
    background-image: url('https://d.newsweek.com/en/full/1565985/pete-rose.webp?w=300&h=200&f=12966c923152dd7b5e62ba9c58c5e4fd');
}

.sports .img5-sports {
    background-image: url('https://d.newsweek.com/en/full/1565910/anna-korakaki.webp?w=300&h=200&f=b494538a09e0aa901fabee7a60b95142');
}


/* Subscribe Section */

.subscribe .img-subscribe {
    background-image: url('./images/subscribe.png');
}

/* Newsletter Section */

.newsletter img-newsletter {
    background-image: url('./images/newsletter.png');
}


