/* Global Reset */
*{
	margin:0;
	padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    /* overflow-x: hidden; */
}

ul li {
    list-style: none;
}

a {
    color: #000;
}

/* End of Global Reset */
